# Aplicação
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=dev

# Banco de dados
DB_HOST=localhost
# Altere a porta caso 5432 já esteja em uso por outro serviço local
DB_PORT=5432
DB_NAME=barbearia
DB_USER=barbearia
DB_PASSWORD=barbearia

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# E-mail (Mailpit)
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
